.page-not-found-container{
  display: flex;
  justify-content: center;
  font-size: 5rem;
  padding-bottom: 16px;
}

.main-page-link-container{
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
